#contact {
    padding: 1em;

    .container {
        background-color: #ddd;
        border-radius: 0.5em;
        border: 1px solid black;
        padding: 1em;

        p {
            margin: 1em 0;
        }

        .form-group {
            margin: 0.5em 0;
            
            label { 
                font-weight: bold;
            }

            input, textarea {
                border-radius: 0.5em;
                border: none;
                padding: 1em;
                width: 100%;
            }
        }

        button {
            background-color: #6eca6e;
            border-radius: 0.5em;
            border: none;
            font-weight: bold;
            padding: 1em;
            
            &:hover {
                background-color: #8afc8a;
            }
        }

        .response {
            font-size: 1.2em;
            padding: 1em;
            border-radius: 0.5em;

            &.thanks {
                background-color: #6eca6e;
            }

            &.error {
                background-color: #ffc5c5;
            }
        }
    }
}