@font-face {
    font-family: Oxygen;
    src: url('/css/fonts/oxygen.woff2');
}
@font-face {
    font-family: Roboto;
    src: url('/css/fonts/Roboto-Regular.woff2');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-image: linear-gradient(#111, #00031f, #000);
    background-attachment: fixed;
    font-family: Roboto, sans-serif;
}

main { 
    margin-bottom: 5em;
}

.fadeIn {
    animation: fadeIn 1s; /* Change 15s to 5s for 5-second rotation */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
